body {
    font-family: Helvetica;
    width: 100%;
    margin: 0 auto;
}

#cajaSuperior{
    width: 100vw; 
    height: 100vh;
    background-image: url(../img/fondo.jpg); 
    background-size: cover; 
    padding: 20vw;
    background-repeat: no-repeat;
}

a{
    color: rgb(82, 81, 81);
}

.nikeTeam{
    font-size: 30px;
    color: rgb(175, 175, 175);
}


h1 {
    font-weight: lighter;
    font-size: 40px;
    padding-left:100px;
}

h2 {
    color: gray;
    font-size: 18pt;
    line-height: 30px;
    padding-left:100px;
}
ul{
    line-height: 30px;
    margin-left: 20px;
}

#parrafo{
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 32px;
    padding-left:100px;
    width: 60%;
}

#cajaInferior{
    padding-bottom: 30px;
}
#cajaNegra{
    width: 100%;
    background-color: black;
    color:white;
    padding-top: 200px;
    padding-bottom: 200px;
}

a:link{
    text-decoration: none;
    color: rgb(210, 210, 210);
}

.link:hover{
    color:aquamarine;
    text-decoration: line-through; 
    
}
.link2 a:hover{
    color:aquamarine;
    text-decoration: underline;
}
