body{
      background-color: rgb(241, 70, 104);
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
      font-size: 50px;
      color: azure;
      text-align: center;
}

img {
      width: 350px;
      filter: blur(3px);
      margin-top: 10px;
}
 
p{
     color: aliceblue;
     margin: 40px;
}

h2{
      font-weight: lighter;
      color: rgb(241, 70, 104);
      margin-bottom: 10px;
}

.pagImagen{
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      margin: 20px;

      display: flex;
      flex-direction: row;
      justify-items: space-between;
      align-items:flex-start;
}

.pagImagen img{
     width: 800px;
     

}
a:hover img {
      filter: blur(0);
}

.imagenesContenedor {
      margin: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;   
}

.hijo{
      background-color: azure;
      border-radius: 10px;
      margin: 30px;
      width: 400px;
      height: 360px;
     
      display: flex;
      flex-direction: column;
      justify-items: space-between;
      align-items: center;
}

.imagenesContenedor div#A {
      order: 1;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      min-width: 20%;
      min-height: auto;
}

.imagenesContenedor div#B {
      order: 2;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      min-width: 20%;
      min-height: auto;
}
.imagenesContenedor div#C {
      order: 3;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      min-width: 20%;
      min-height: auto;
}

.imagenesContenedor div#D {
      order: 4;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      min-width: 20%;
      min-height: auto;
}

.imagenesContenedor div#E {
      order: 5;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      min-width: 20%;
      min-height: auto;
}

.imagenesContenedor div#F {
      order: 6;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      min-width: 20%;
      min-height: auto;
}

.imagenesContenedor div#G {
      order: 7;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      min-width: 20%;
      min-height: auto;
}

.imagenesContenedor div#H {
      order: 8;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      min-width: 20%;
      min-height: auto;
}

.imagenesContenedor div#I {
      order: 9;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      min-width: 20%;
      min-height: auto;
}