body{
    margin: auto;
    font-family: 'Abril Fatface', cursiva;
    background-color: #f5f5f5;
}

h1{
    font-size:80px;
    font-weight: lighter;
    margin-right: 100px;
}
 p{
    font-size: 50px;
    font-weight: lighter;
    margin: 40px;
    margin-top:100px ;
 }

.contenedor {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

#contenedortitulo{
    width: 50%;

    display: flex;
    justify-content: flex-end;
}

#imagenesContenedor{
    width: 50%;

    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-content: flex-end;   
    flex-direction: row;
    justify-items: space-between;
    align-self: flex-end;

}

.hijo{
    margin: 5px;
}


.hijo1{
    margin: 0;
    height: 100vh;
   
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.contenedor img {
    margin:7px;
    margin-right: 20px;
    width: 14vw;
    height: auto;
    filter: grayscale(100%);
    box-shadow: 8px 8px 18px -8px rgb(83, 83, 83);
}

a:hover img {
    filter: blur(0);
}

.pagImagen{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items:flex-start;
}

.pagImagen img{
    margin-right: 45px;
    height: 100vh;
}


