body{
    margin: auto;
    font-family: 'Abril Fatface', cursiva;
    background-color: rgb(243, 243, 243);
    background-image: url(img/fondo.png);
    background-size: cover; 
    background-repeat: no-repeat;
}

h1{
    font-size:5vw;
    font-weight: lighter;
    margin-right: 50px;
    padding-bottom:100px;
}

h1 a{
    text-decoration: none;
    color: rgb(24, 24, 24);
}

 p{
    font-size: 6vw;
    font-weight: lighter;
    margin: 40px;
    margin-top:100px ;
 }

.contenedor {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

#contenedortitulo{
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

#imagenesContenedor{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-content: flex-end;   
    flex-direction: row;
    justify-items: space-between;
    align-self: flex-end;
}

.hijo{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hijo1{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.contenedor img {
    width: 13vw;
    height: auto;
    filter: grayscale(100%);
    border-radius: 8px;
    box-shadow: 10px 9px 51px -8px rgba(0,0,0,0.55);
}

a:hover img {
    filter: blur(0);
    transform: scale(1.2);
}

h1:hover{
    transform: scale(1.2);
}

.pagImagen{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items:flex-start;
}

.pagImagen img{
    margin-right: 45px;
    height: 100vh;
}

.leyenda {
    border-radius: 8px;
    opacity: 0;
    position: absolute;
    background-color:rgb(243, 243, 243) ;
    
  }

  
.hijo:hover .leyenda {
    opacity: 1;
  }

.text {
    color: rgb(230, 28, 28);
    font-size: 4vh;
    font-weight: lighter;
    padding-left: 5px;
    padding-right: 5px;
    
    
  }
