body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: #f3ebd6;
}

.contenedor {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

#contenedor1 {

    width: 40vw;
    padding-left: 2vw;
}

h1 {

    font-size: 10vw;
    color: rgb(44, 44, 44);
    margin-bottom: 0;
}

h1:hover {
    color: #aeb784;
    
}

h2 {
    margin-top: 0;
    font-size: 2vw;
    color: rgb(44, 44, 44);
}

h2:hover{
    color: #e0a46c;
}



.hijo1 {
    margin: 0;
    height: 100vh;
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hijo2 {
    margin: 0;
    height: 100vh;
    width: auto;


    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.sesion {

    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;

}

h3 {
    color: #fcf7eb;
    font-size: 30px;
    transform: rotate(90deg);
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;

}

a {
    text-decoration: none;
}

a:hover h3 {
    font-size: 40px;

}


#sesion1 {
    background-color: #e0a46c;
}

#sesion2 {
    background-color: #aeb784;
}

#sesion3 {
    background-color: #f0c472;
}

#sesion4 {
    background-color: #bacdd2;
}

#sesion5 {
    background-color: #e0a46c;
}

#sesion6 {
    background-color:#aeb784;
}

#sesion7 {
    background-color:#f0c472;
}