#img{
    width: 100vw; /* que ocupe el ancho de la pantalla */
    height: 100vh; /* para que sea cuadrada (igual a width) */
    background-image: url(imgs/fondo.jpg);
    background-size:auto; 
    padding: 10vw;
    background-repeat: no-repeat;
}

#fondo li{
    background-color: black;
    color: aliceblue;
}

#fondo{
    background-color: black;
}