div{
    background-image: url("img/insta-anagea2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 250px;
    height:250px;
    margin: auto;
    margin-top: 20px;
}