body {
    margin: 0;
    background-color: #262626;
    height: 100vh;
    width: 100vw;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(img/vinilofondo_Mesa\ de\ trabajo\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed
}

@media only screen and (max-width: 992px) {

    /* For mobile phones: */
    nav {
        background-color: #FCD743;
        width: 100vw;
        height: 6vh;
        position: fixed;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    nav div img {
        height: 3vh;
        margin-left: 20px;
    }

    nav div a {
        color: #FCD743;
        text-decoration: none;
    }
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#banner1 {
    height: auto;
    padding-top: 15vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

#app1 {
    height: auto;
    width: 90vw;

}

.app1 {
    color: aliceblue;

    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

}

.app1 h1 {
    font-size: 2em;


    margin: 0;
    text-align: center;
}

.app1 p {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;

}

.app1 img {
    height: 5vh;

    margin-top: 20px;

}

.app2 img {
    width: 80vw;

}

.app2 {


    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

}

#banner2 {
    background-color: #FCD743;
    height: 20vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner2 h2 {
    font-size: 1em;
}

#banner2 img {
    height: 5vh;
}

#banner3 {
    height: auto;
    background-image: url(img/banner3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}



.caracte1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.caracte1 div {
    background-image: url(img/vinilosolo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25vw;
    width: 25vw;
    margin: 18px;
    padding: auto;
}

.caracte1 div h2 {
    color: #FCD743;
    font-size: 1.5em;


}

.caracteristica {
    display: flex;
    justify-content: center;
    align-items: center;

}

#banner4 {
padding-top: 20px;
padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner4 video {
    width: 80vw;

}

#banner5 {
    background-color: #FCD743;
    height: 20vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#banner5 h1{
    padding-top: 10px;
    font-size: 1.5em;
 }

#banner5 img {
    height: 4vh;

}

#banner11{
    height: 20vh;
    background-color: #FCD743;

    display: flex;
    align-items: center;
justify-content: center;
}

#banner11 div{
    width: 30vw;
    height: 10vh;
    background-image: url(img/feedback.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner11 div h1{
    font-size: 1em;
    color: aliceblue;
    text-align: center;
}

footer {
    background-color: black;
    height: 10vh;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    nav {
        background-color: #FCD743;
        width: 100vw;
        height: 6vh;
        position: fixed;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    nav div img {
        height: 3vh;
    }

    nav div a {
        color: #262626;
        text-decoration: none;
        padding: 15px;
        margin-right: 25px;
    }

    /*.feedback{
    background-image: url(img/feedback.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 12vw;
    height: 4vh;
}*/

    main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #banner1 {
        height: 70vh;
        padding-top: 6vh;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    #app1 {
        height: 60vh;
        width: 40vw;
    }

    .app1 {
        color: aliceblue;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;

    }

    .app1 h1 {
        font-size: 3em;
        padding-left: 40px;
        margin: 0;
    }

    .app1 p {
        padding-left: 40px;
        padding-right: 40px;
        margin: 0;

    }

    .app1 img {
        height: 5vh;
        padding-left: 40px;
        margin-top: 10px;

    }

    .app2 img {
        width: 40vw;
    }

    #banner2 {
        background-color: #FCD743;
        height: 25vh;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #banner2 img {
        height: 6vh;
    }

    #banner4 {
        height: 70vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #banner4 video {
        height: 60vh;

    }



    #banner3 {
        height: 60vh;
        background-image: url(img/banner3.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;


        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

    }

    #banner3 .caracte1 .caracte2 {
        width: 45vw;
    }

    .caracte1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
    }

    .caracte1 div {
        background-image: url(img/vinilosolo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 15vw;
        width: 15vw;
        margin: 18px;
        padding: auto;
    }

    .caracte1 div h2 {
        color: #FCD743;
        font-size: 2em;


    }

    .caracteristica {
        display: flex;
        justify-content: center;
        align-items: center;

    }



    #banner5 {
        background-color: #FCD743;
        height: 20vh;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #banner5 img {
        height: 5vh;

    }

    #banner11{
        height: 20vh;
        background-color: #FCD743;

        display: flex;
        align-items: center;
    justify-content: center;
    }

    #banner11 div{
        width: 30vw;
        height: 10vh;
        background-image: url(img/feedback.png);
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #banner11 div h1{
        color: aliceblue;
        text-align: center;
        font-size: 2em;
    }

    footer {
        background-color: black;
        height: 10vh;
    }

  

}