body{
    background-color: rgb(36, 36, 36) ;
}
header {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: rgb(235, 232, 232);
    text-align: center;
}

img {
    width: 33%;
    height: auto;
    filter: blur(3px);
}

a:hover img {
    filter: blur(0);
}